<Config>
    <Device type="slave" masterIp="192.168.1.18" id="1" log_level="ALL"/>
    <Sensors>
		<Sensor type="Thermo" pin="22"/>
        <Sensor type="Humidity" pin="22"/>
        <Sensor type="Light" pin="17"/>
		<Sensor type="Smoke" pin="4"/>
		<Sensor type="Motion" pin="27"/>
    </Sensors>
</Config>